<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">WishList</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-item' ? 'active' : '' %>" href="/admin/add-item">Add Item to WishList</a></li>
        </ul>
    </nav>
</header>