@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  background: #0F2027;
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  padding: 1.2rem 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
	justify-content: flex-end;
	max-width: 1200px;
	margin: 0 auto;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #f5af19;
}

main > h1 {
	text-align: center;
}

.grid {
  display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	max-width: 500px;
	margin: 0 auto;
}

.wish {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	padding: .5rem;
}

.wish p {
	margin: 0;
}

.wish-form {
	max-width: 20rem;
	margin: 0 auto;
	text-align: center;
}

.wish-form label {
	display: block;
	text-align: center;
	margin-bottom: 1rem;
}

.wish-form input[type="text"] {
	width: 100%;
	padding: .5rem;
	border-radius: .2rem;
	border: 1px solid #223d47;
	outline: none;
}

.btn {
  font: inherit;
  border: 1px solid #223d47;
  color: #223d47;
  background: white;
  border-radius: 3px;
	margin-top: 2rem;
  cursor: pointer;
	transition: all ease-in-out .1s;
}

.btn:hover,
.btn:active {
  background-color: #223d47;
  color: white;
	transition: all ease-in-out .1s;
}